
<head>
  <title>Look FOr Nearby Garden</title>

  <link rel="stylesheet" type="text/css" href="../public/css/style.css" />
  <script src="../public/js/map.js"></script>
</head>

<body>
  <h3>My Google Maps Demo</h3>
  <!--The div element for the map -->
  <div id="map"></div>


<script async
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCpSBx1lRYNTBGBAzxLUjWYaSLnKq1u1Us&callback=initMap">
</script>