  
  


  <h2>Local Gardens</h2>

  <h2>My Google Map</h2>

  <!--The div element for the map -->
  <div id="map"></div>

<script src="/js/map.js"></script>
<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCpSBx1lRYNTBGBAzxLUjWYaSLnKq1u1Us&callback=initMap">
</script>