<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Waste No More</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body> 
 
  <div class="pageDisplay">
    <header >
      <h1>
        
        <span role="img" aria-label="plant">♻️ </span>
        <a href="/"> <span id="titleColor">
        Waste No More! |</span></a> <span id="slogan"> Helping gardens out since 2021 </span>
      </h1>
      <nav>
        {{#if logged_in}}
        <a href="/profile">profile</a> |
        <button class="no-button" id="logout">logout</button>
        {{else}}
        <a href="/login" class="navOptions">login</a>
        <a href="/" class="navOptions">donate</a>
        {{/if}}
      </nav>
    </header>

    <img src="images/bannER.jpg" alt="banner" class="banner" width="100%">

    <main class="mainClass">
      {{{body}}}
    </main>
    
    
  </div>
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>
</html>
