<div class="row shareGarden">
  <div class="col-md-6">
    <h2>Share Garden</h2>

    <form class="share-form">
      <div class="share-group">
        <label for="name-first-share">First Name:</label>
        <input class="share-input" type="text" id="firstname-share" />
      </div>
      <div class="share-group">
        <label for="name-last-share">Last Name:</label>
        <input class="share-input" type="text" id="lastname-share" />
      </div>
      <div class="share-group">
        <label for="location-share">Location:</label>
        <input class="share-input" type="text" id="location-share" />
      </div>
      <div class="share-group">
        <label for="picture-share">Picture:</label>
        <input class="share-input" type="image" id="picture-share" />
      </div>
      <div class="share-group">
        <button class="btn btn-primary shareBtn" type="submit">✨ Share</button>
      </div>
    </form>
  </div>
</div>
