<div class="hero-image">
  <div >
    <p class="hero-text"> HELPING ONE GARDEN AT A TIME WITH ALL OF THEIR COMPOSTING NEEDS </p>
  </div>
</div>

{{!-- </div> <img src="https://i.pinimg.com/originals/ae/1d/4f/ae1d4fa25da4a22a151a03e3c8a7802d.gif" alt="banner" class="imgbanner"> --}}

<h3 id="welcome">Welcome to Waste No More!</h3>

<div>

<p id="homeParagraph">We have compiled all local gardens in the Orange County area to make it easier <br>to donate your left-over compost!
You will be able to share resources and connect <br>with your local gardens! <br> <br>
Below are a few gardens you will be able to connect with once you <a href="/login">sign up</a>.</p>

</div>

<div class="imgbox">

<div  class="firstimg"> <a href="https://www.communitygarden.org/" target="_blank"><img id="firstGarden"src="https://www.ci.moscow.id.us/ImageRepository/Document?documentID=7982" alt="hamilton"></a></div>

<div><a href="https://www.costamesaca.gov/city-hall/city-departments/parks-and-community-services/community-gardens#ad-image-0" target="_black"><img id="secondGarden"class="secondimg"src="https://thecoastnews.com/wp-content/uploads/2016/03/IMG_3817WEB.jpg" alt="delMar"></a></div>

</div>

{{> contact}}

<footer>
 <p> Made with  <span style="color: #e25555;">&hearts;</span> by Group 4</p>
</footer>



