<img src="images/bannER.jpg" alt="banner" class="imgbanner">
<h3 id="welcome">Welcome to Waste No More!</h3>

<div>

<p id="homeParagraph">We have compiled all local gardens in the Orange County area to make it easier <br>to donate your left-over compost!
You will be able to share resources and connect <br>with your local gardens! <br> <br>
Below are a few gardens you will be able to connect with once you <a href="/login">sign up</a>.</p>

</div>

<div class="imgbox">

<div  class="firstimg"> <a href="https://www.communitygarden.org/"><img id="firstGarden"src="https://www.ci.moscow.id.us/ImageRepository/Document?documentID=7982" alt="hamilton"></a></div>

<div><a href="https://www.costamesaca.gov/city-hall/city-departments/parks-and-community-services/community-gardens#ad-image-0"><img id="secondGarden"class="secondimg"src="https://thecoastnews.com/wp-content/uploads/2016/03/IMG_3817WEB.jpg" alt="delMar"></a></div>

</div>



