<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{firstname}} {{lastname}}!</h2>
  </div>
</div>


  {{#if hostedGardens.length}}
  <div class="col-md-6 project-list">
    <h3>My Gardens:</h3>

    {{#each hostedGardens as |garden|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/garden/{{garden.id}}">{{garden.name}}</a></h4>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
<<<<<<< HEAD
</div>
=======
</div>
>>>>>>> main
