.imgbanner {
  width: 100%;
  border: 10px solid green;
}

.imgbox {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-bottom: 10px;
}
#firstGarden {
  width: 350px;
  height: 250px;
  border-radius: 3px;
  border: 10px groove green;
}
#firstGarden:hover {
  box-shadow: 0px 0px 5px 5px rgb(33, 87, 33);
}
#secondGarden:hover {
  box-shadow: 0px 0px 5px 5px rgb(33, 87, 33);
}

#secondGarden {
  width: 350px;
  height: 250px;
  border: 10px groove green;
}

.mainclass {
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  height: 100px;
  margin-top: 100px;
  left: 50%;
}

.pageDisplay {
 
 
 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.listDisplay{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.profilemap {
  width: 40%;
  height: 200px;
}

body{

  /* background: linear-gradient(green, orange); */
  background-size: cover;
  background-repeat: no-repeat;

}



header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: white;
  margin-top: -3px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 5px;
}


header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}


.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}

#map {
  height: 300px;
  width: 100%
}

.map {
  margin-top: 15%;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#titleColor {
  color: orange;
}

#slogan {
  color: lightslategray;
  font-size: 10px;
}

.navOptions {
  color: orange;
  margin: 10px;
}

.signUp {
  margin-top: 10%;
}

#signUpBtn {
  background-color: orange;
}



#contact-me {
  color: green;

}

svg {
  border-radius: 5px;
}

svg:hover {
  box-shadow: 0px 0px 9px black;

}

footer {
 text-align: center;
  display: flex;
  justify-content: center;
  background: white;
  width: 100%;
}



#welcome {
  text-align: center;
}



#homeParagraph {
  text-align: center;
}

.gardensList{
  display: flex;

}

.profileBody{
  overflow: auto;
  width: 90vw;

}

.grid-container{
  display: grid; 
  grid-template-columns: auto auto;
  grid-gap:20px;
  /* background-color: greenyellow; */
  min-height: 600px; 
}

#map{
  height: 400px; 
  width:400px
}