header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}

#map {
  height: 800px;
  width: 100%
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#titleColor {
  color: orange;
}

#slogan {
  color: lightslategray;
  font-size: 10px;
}

.navOptions {
  color: orange;
  margin: 10px;
}

.signUp {
  margin-top: 10%;
}

#signUpBtn {
  background-color: orange;
<<<<<<< HEAD
=======
}

.map {
  margin-top: 15%;
}

#contact-me {
  color: green;
>>>>>>> 8b8f405345f511d3326422b8d48fc37a91f3cf0c
}